.main {
  background-color: #eef1ff;
}
.row {
  padding: 45px 0;
  background-color: #eef1ff;
}
.text__content {
  margin-bottom: 45px;
  padding-top: 90px;
}
.text__content h4 {
  font-size: 20px;
  font-weight: 400;
}
.text__content h1 {
  padding: 10px 0;
  font-weight: 700;
  font-size: 39px;
}
